@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
html{
    scroll-behavior: smooth;
    /* background: linear-gradient(#070212, #7A1758, #AA2691, #280344, #070212); */
    background-image: url(bcgr.gif);  
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
   
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    backdrop-filter: blur(25px) brightness(200%) contrast(70%);

}
img{
    max-width: 100%;
}
header{
    display: flex;
    justify-content: space-between;/*po przewiległych stronach*/
    align-items: center; /*centrowanie w pionie*/
    padding: 1rem; /* 1rem = 16px */  
}
.logo{
    transition: .3s;
    max-height: 50px;
}
.logo:hover{
    color: #0F2C67;
}
.btn{
    background-color: #0F2C67;
    border: none;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 99px;
    display: inline-block;
    border: 2px #0F2C67 solid;
    letter-spacing: .08rem;
    transition: .3s;
}
.btn:hover{
    background-color: #fff;
    color: #0F2C67;
}
section{
    padding: 1rem;
}
p{
    line-height: 1.6rem;
}
/*koniec menu*/
/*hero*/

.hero{
 
      
}
.hero-bar{
    height: 4px;
    width: 20%;
    background-color: #0F2C67;
}
.hero-right img{
    border-radius: 8px;
    padding-top: 2rem;
}
.hero-left h1{
    font-size: 3rem;
}
.hero-left p{
    line-height: 1.9rem ;
    font-size: 1.4rem;
}
/*blog*/
.blog{
    padding: 2rem;
    display: grid;
    gap: 2rem;
}
.card-link{
    color: #0F2C67;
    text-decoration: none;
}
.blog img{
    border-radius: .5rem;
}
video{
    max-width: 100%;
}


@media only screen and (min-width: 768px) {
    /*hero*/
    .hero{
        padding: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .hero-right img{
        margin: 1rem;
    }
    .hero-left{
        padding-right: 1.5rem;
    }
    .blog{
        grid-template-columns:1fr 1fr;
    }
}

/*style dla dużych urządzeń desktopowych*/
@media only screen and (min-width: 1280px) {
    .hero{
        padding: 4rem 8rem;
    }
    .blog{
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1280px;
        margin: 2rem auto; /*wycentrowanie elementów*/
    }
}
